* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 5% 18%;
}

header {
<<<<<<< HEAD
  height: 40%;
  width: 75%;
=======
  height: 450px;
  width: 850px;
>>>>>>> vqc/dashboard
  border: 2px solid black;
  background-image: url(./stars.jfif);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
  
}

.contact {
  height: 324px;
  width: 270px;
  display: flex;
  justify-content: center;
  flex-direction: column;
<<<<<<< HEAD
=======
  padding: 75px;
  margin-left: 20px;
>>>>>>> vqc/dashboard
  background-color: grey;
}

.officeinfo {
  height: 324;
  width: 270px;
<<<<<<< HEAD
=======
  padding: 75px;
>>>>>>> vqc/dashboard
  margin-left: 20px;
  background-color: grey;
}

.socialmedia {
  height: 324px;
  width: 270px;
<<<<<<< HEAD
=======
  padding: 75px;
>>>>>>> vqc/dashboard
  background-color: grey;
}

.mylists {
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  width: 75%;
=======
  height: 324px;
  width: 850px;
>>>>>>> vqc/dashboard
  background-color: grey;
}


<<<<<<< HEAD
@media (max-width: 600px) {
=======
@media (max-width: 980px) {
>>>>>>> vqc/dashboard
  footer  {
    flex-direction: row;

  }
}