* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 5% 18%;
}

header {
  height: 40%;
  width: 75%;
  border: 2px solid black;
  background-image: url(./stars.jfif);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
  
}

.contact {
  height: 324px;
  width: 270px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
}

.officeinfo {
  height: 324;
  width: 270px;
  margin-left: 20px;
  background-color: grey;
}

.socialmedia {
  height: 324px;
  width: 270px;
  background-color: grey;
}

.mylists {
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: row;
  width: 75%;
  background-color: grey;
}


@media (max-width: 600px) {
  footer  {
    flex-direction: row;

  }
}