body {
    margin: center;
    background-color: beige;
    text-align: center;
}

header{
    text-align: center;
    margin: auto;
}
h1 {
    color: black;
    text-align: center;
}

h3 {
    text-decoration: none;
}

main {
    width: 50%;
    margin: auto;
    text-align: center;
    
}

img {

    height: auto;
    width: 150px;
    border-radius: 10%
}

article {
    border-radius: 150px; 
    background: lightblue;
    padding: 50px; 
    width: 70%;
    height: 70%; 
    margin: 20px auto ;
}

article:hover {
    background: lightsteelblue;
}


footer {
    color: black;
    text-align: center;
}

.articleheader{
    font-size: 20px;

}

