* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  border: solid red;
}

nav {
  width: 15%;
  height: 100%;
  border: solid black; 
  display: inline-block;
  }

header {
  display: inline;
  border: solid black;
  height: 15%;
  width: 85%;
  float: right;
  display: flex;
}

.container1 {
  display: inline-grid;
  grid-template-columns: repeat(4, 15%);
  grid-template-rows: auto;
  border: solid blue;
  float: right;

}

.container2 {
  border: solid black;
  display: inline-grid;
  grid-template-columns: repeat(3, 15%);
  grid-template-rows: auto;
}
