body{
  background-color: white;
  font-family:consolas;
}
header, main, footer {
  width:300px;
  margin:auto;
}

h1 {
  margin-left: 17%;
  margin-bottom: 20%;
  color: black;
}

ul {
  height:300px;
  margin-left: 8%;
  list-style: none;
  padding: 0;
}

li {
  width:80px;
  height:80px;
  float:left;
  border: 2px solid black;
}

#reset {
  width:98%;
  height:50px;
  font-size:24px;
}

.hover{
  font-size:72px;
  text-align:center;
  background-color: purple;
  cursor: pointer;
}

.X {
  font-size:72px;
  text-align:center;
  color:black;
}
.O {
  font-size:72px;
  text-align:center;
  color: black;
}
/* selects the 1st, 4th, and 7th li */
ul li:nth-child(3n+1) {  
  border-left:none;
}
/* selects the 3rd, 6th, and 9th li */
ul li:nth-child(3n+3) {  
  border-right:none;
}
/* selects the 7th, 8th, and 9th li */
ul li:nth-child(n+7) {  
  border-bottom:none;
}
/* selects the 1st, 2nd, and 3rd li */
ul li:nth-child(-n+3) {  
  border-top:none;
}
button{
  color: white;
  background-color: black;
}