* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.box {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-areas: (3, 1fr); 
}

#grid {
  
}

.box1 {

}

.box2 {
  
}

.box3 {
  
}

.box4 {
  
}

.box5 {
  
}

.box6 {
  
}

.box7 {
  
}

.box8 {
  
}

.box9 {
  
}