* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  }

 body {
  background-image: url(./leather.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

  header {
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-image: url(./woodgrain.jpg);
  }
  
  .profilepic {
    height: 150px;
    width: 150px;
    border: solid white;
    background-image: url(./profile\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 150px 150px;
  }

  nav {

  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    opacity: 0.8;
  }
  
  .button1 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
    border: solid white;
  }
  .button1:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
    border: solid white;
  }
  
  .button2 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
    border: solid white;
  }
  
  .button2:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
    border: solid white;
  }
  
  .button3 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
    border: solid white;
  }
  
  .button3:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
    border: solid white;
  }
  
  .vincent {
    height: 150px;
    width: 650px;
    border: solid black;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-left: 28%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b c d"
    "e f g h";
    height: 200px;
    margin-top: 40px;
    color:white;
    font-size: 30px;
    text-align: center;
  }
  
  .grid-item {
    height: 200px;
    width: 200px;
  }
  
  .grid1 {
    background-image: url(./bob\ ross.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
  }

  .grid2 {
    background-image: url(./pepeclown.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
  }
  
  .grid3 {
    background-image: url(./study.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
  }
  
  .grid4 {
    background-image: url(./austinpic.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
  }

  .grid5 {
    background-image: url(./bob\ ross.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
    margin-top: 30px;
  }

  .grid6 {
    background-image: url(./pepeclown.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
    margin-top: 30px;
  }
  
  .grid7 {
    background-image: url(./study.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
    margin-top: 30px;
  }
  
  .grid8 {
    background-image: url(./austinpic.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid white;
    margin-top: 30px;
  }
    .a {
    grid-area: a;
    margin-left: 100px;
    }
   
    .b {
    grid-area: b;
    }
   
    .c {
    grid-area: c;
    }
    
    .d {
    grid-area: d;
    }

    .e {
      grid-area: e;
      margin-left: 100px;
      }
     
      .f {
      grid-area: f;
      }
     
      .g {
      grid-area: g;
      }
      
      .h {
      grid-area: h;
      }
  
      

        footer {
          border: solid black;
          height: 150px;
          width: 100%;
          margin-top: 50PX;
          background-color: black;
          color: white;
          padding-top: 65px;
          padding-left: 500px;
          margin-top: 300px;
        }

        @media only screen and (max-width: 1120px) {

          .grid-container {
            display: grid;
            grid-template-columns: 1fr, 1fr; 
            grid-template-rows: 1fr, 1fr;
            grid-template-areas: 
            "a b"
            "c d"
            "e f"
            "g h";
            height: 200px;
          }

          .c {
            margin-left: 100px;
            margin-top: 20px;
          }

          .d {
            margin-top: 20px;
          }

          .vincent {
            height: 150px;
            width: 650px;
            border: solid black;
            color: black;
            text-align: center;
            margin-top: 30px;
            margin-left: 0;
          }

          .but {
            padding: 0;
          }
          

        }

        @media only screen and (max-width: 600px) {

        
          nav {
            flex-direction: row;
            height: 20%;
            align-items: flex-start;
            height: 100px;
          }
          
         ul {
           display: flex;
           flex-direction: column; 
           width: auto;
           align-items: center;
           align-content: center;
         }
      
          .but {
            height: 20px;
            font-size: 15px;
          }

          .grid-container {
            display: grid;
            grid-template-columns: 1fr, 1fr; 
            grid-template-rows: 1fr, 1fr;
            grid-template-areas: 
            "a b"
            "c d"
            "e f"
            "g h";
            height: 200px;
          }


      footer {
        display: none;
      }
      
      .bighead {
        background-size: contain;
        color: black;
      }

      .a {
        margin-left: 30px;
      }

      .c {
        margin-left: 30px;
      }
      
      .vincent {
        height: 125px;
        width: 465px;
        border: solid black;
        color: black;
        text-align: center;
        margin-top: 30px;
        font-size: 12px;
      }



        }