body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.box1 {
  box-sizing: border-box;
  float: left;
  width: 40%;
  height: 20%;
  border: solid black 1px;
}

.fas {
  color: lightskyblue;
  margin-left: -9%;
}


.box2 {
  box-sizing: border-box;
  float: left;
  width: 40%;
  height: 20%;
  border: solid black 1px;
}

.box3 {
  box-sizing: border-box;
  float: left;
  width: 40%;
  height: 20%;
  border: solid black 1px;
}

.box4 {
  box-sizing: border-box;
  float: left;
  width: 40%;
  height: 20%;
  border: solid black 1px;
}

h3 {
  padding-left: 10%;
  padding-top: 3%;
  color: lightskyblue;
}

p {
  padding-left: 10%;
}