* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height:100%;
  width: 100%;;
  padding: 10px;
}

.title {
  height: 20%;
  width: 80%;
  display: inline-grid;
}

.titlegrid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 80% 20%;
}

.cookie {
  grid-column: 1/2;
  grid-row: 1/2;
}

h1 {
  text-align: center;
  font-size: 100px;
}

.offer {
    text-align: center;
}


.techfood>p {
  font-size: 85px;
  text-align: center;
}

.techfood {
  grid-column: 2/3;
  grid-row: 1/2;
}

.offer>p {
  font-size: 18px;
  align-content: space-between;
}

.offer {
  grid-column: 1/3;
  grid-row: 2/2;
}

.sale {
  height: 20%;
  width: 20%;
  display: inline-grid;
  float: right;
}

.salegrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}

.save>p {
    padding-top: 20px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.save {
  grid-row: 1/2;
    background-color: pink;
}

.ex>p {
  font-size: 20px;
  color: white;
  padding-top: 7px;
}

.ex {
  grid-row: 2/2;
    background-color: #2aadea;
    text-align: center;
}

.main {
  height: 60%;
  width: 80%;
  display: inline-grid;
}

.main1grid {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
  height: 50%;
  border: solid #2aadea;
}

.mango {
  grid-column: 1/2;
  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.junk>h1 {
  color: white;
  border: solid #2aadea;
}

.junk>p {
  color:white;
  border: solid #2aadea;
}

.junk {
  grid-column: 2/3;
  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.cheetos {

  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.nested {
  display: grid;
  border:2px solid black;
  grid-template-columns: 30% auto;
  grid-template-rows:60px auto;
  margin: 0;
}

.p  {
  border: solid #2aadea;
}

.main2grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  height: 50%;
  border: solid #2aadea;
}

.tea {
  grid-column: 1/2;
  background-color: white;
  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.nuts {
  grid-column: 2/3;
  background-color: white;
  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.yogurt {
  grid-column: 3/4;
  background-color: white;
  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.mnm {
  grid-column: 4/4;
  background-color: white;
  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.sidebar {
  border: 2px solid white;
  border: solid #2aadea;
  height: 60%;
  width: 20%;
  float: right;
}

.sidebargrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  border: solid #2aadea;
}

.wine {
  grid-row: 1/2;
  background-color: white; display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

 .wine img {
  margin-left: 10px;
} 

.ben {
  grid-row: 2/3;
  background-color: white;
  border: solid #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.ramen {
  grid-row: 3/3;
  background-color:white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

}

.ramen img {
  margin-left: -30px;
  margin-top: 30px;
  width: 130px;
  height: auto;
}

.footer {
  height: 20%;
  width: 100%;
  display: inline-grid;
}

.footergrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}

.caffeine {
  grid-column: 1/2;
  background-color: white;
  border: dotted #2aadea;
}

.coffee {
  grid-column: 2/3;
  background-color: white;
  border: dotted #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.cola {
  grid-column: 3/4;
  background-color: white;
  border: dotted #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.cola img {
  margin-left: -70px;
  width: 200px;
  height: auto;
}

.monster {
  grid-column: 4/4;
  background-color: white;
  border: dotted #2aadea;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.monster img {
  margin-left: -40px;
  width: 160px;
  height: auto;
}

img {
  height: 80%;
  width: auto;
  margin-top: 10px;
}