dbody {
  height: 100%;
  width: 100%;
  background: grey;
}

.box1 {
  height: 40%;
  width: 50%;
  border: solid black;
  background: lightgrey;
}

.box2 {
  height: 30%;
  width: 99%;
  border: solid black;
  text-align: left;
  background: white;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.button1 {
  background-color: lightcoral;
  color: white;
  padding: 10px 30px;
  text-align: center;
  display: flex;
  font-size: 15px;
  border-radius: 15px;
  float: right;
}

.button2 {
  background-color: white;
  color: black;
  padding: 10px 30px;
  text-align: center;
  display: flex;
  font-size: 15px;
  border-radius: 15px;
  background-image: white;
  float: right;
}

.button1:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.button2:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}