* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  }

 body {
  background-image: url(./leather.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

 }

  header {
    background-color: grey;
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-image: url(./woodgrain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200px;
  }
  
  .profilepic {
    height: 150px;
    width: 150px;
    border: solid black;
    background-image: url(./profile\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 150px 150px;
  }

  nav {

  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    opacity: 0.8;
  }
  
  .button1 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
  }
  .button1:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
  }
  
  .button2 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
  }
  
  .button2:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
  }
  
  .button3 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
  }
  
  .button3:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
  }

  .button4 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
  }

  .button4:hover {
    background-color: white;
    opacity: 0.9;
    color: black;
  }
  
  
  .vincent {
    height: 200px;
    border: solid black;
    color: black;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b c d";
    height: 200px;
    margin-top: 40px;
    color:white;
    font-size: 30px;
    text-align: center;
  }
  
  .grid-item {
    height: 200px;
    width: 200px;
  }
  
  .grid1 {
    background-image: url(./bob\ ross.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid black;
  }

  .grid2 {
    background-image: url(./pepeclown.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid black;
  }
  
  .grid3 {
    background-image: url(./study.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid black;
  }
  
  .grid4 {
    background-image: url(./alone.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    border: solid black;
  }
    .a {
    grid-area: a;
    margin-left: 100px;
    }
   
    .b {
    grid-area: b;
    }
   
    .c {
    grid-area: c;
    }
    
    .d {
    grid-area: d;
    }
  
      .grid-containerbottom {
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr;
        display: grid;
        grid-template-areas:
        "lefta righta"
        "lefta rightb";
        justify-content: center;
        margin-top: 40px;
      }
  
      .lefta {
        grid-area: lefta;
        height: 500px;
        width: 450px;
        margin-right: 40px;
        margin-top: 20px;
        border: solid black;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        }
       
        .righta {
        grid-area: righta;
        height: 250px;
        width: 400px;
        margin-top: 20px;
        border: solid black;
        background-color: black;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        }
       
        .rightb {
        grid-area: rightb;
        height: 200px;
        width: 400px;
        border: solid black;
        padding-left: 40PX;
        padding-top: 40px;
        padding-right: 15px;
        color: white;
        background-color: black;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 30px;
        }
  
        footer {
          border: solid black;
          height: 150px;
          width: 100%;
          margin-top: 50PX;
          background-color: black;
          color: white;
          padding-top: 65px;
          padding-left: 500px;
        }

        @media only screen and (max-width: 1120px) {

          .grid-container {
            display: grid;
            grid-template-columns: 1fr, 1fr; 
            grid-template-rows: 1fr, 1fr;
            grid-template-areas: 
            "a b"
            "c d";
            height: 200px;
          }
  
          .righta {
            margin-top: 240px;
          }

          .lefta {
            display: none;
          }

          .c {
            margin-left: 100px;
            margin-top: 20px;
          }

          .d {
            margin-top: 20px;
          }


        }

        @media only screen and (max-width: 600px) {

        
          nav {
            flex-direction: row;
            height: 20%;
            align-items: flex-start;
            height: 100px;
          }
         ul {
           display: flex;
           flex-direction: column; 
           width: auto;
           align-items: center;
           align-content: center;
         }
      .but {
        height: 20px;
        font-size: 15px;
      }

      footer {
        display: none;
      }
      
      .bighead {
        background-size: contain;
        color: black;
      }

      .a {
        margin-left: 30px;
      }

      .c {
        margin-left: 30px;
      }
      
        }